form , h1 ,p {
    width: 60%;
    margin: 30px auto;
}

div{
    display: inline-block;
}

.notificacion-label {
    width: 50%;
}

.radio {
    display: flex;
    padding: 12px;
    & label {
        padding: 12px;
        vertical-align: middle;
    }
}


